.owl-carousel.home-slider .slider-item .slider-text, .owl-carousel.home-slider .slider-item{
    height: auto;
}

.owl-carousel .owl-dots .owl-dot, .owl-carousel .owl-dots .owl-dot.active{
    background-color: transparent;
    position: inherit;
}

.heading-section h1.big{
    font-size: 50px;
}

#galery .owl-nav{
    width: 100%;
    position: absolute;
    top: 44%;
    line-height: 0;
}

#galery .owl-prev{
    position: absolute;
    left: 0;
}

#galery .owl-next{
    position: absolute;
    right: 0;
}

#galery .owl-next, #galery .owl-prev{
    font-size: 45px;
    outline: none;
}

#galery .owl-next:hover, #galery .owl-prev:hover{
    background-color: transparent;
    color: #000;
}

@media(min-width: 578px){
    #galery .owl-prev{
        left: -20px;
    }

    #galery .owl-next{
        right: -20px;
    }
}

@media(min-width: 768px){
    .heading-section h1.big{
        font-size: 7vw;
    }

    #galery .owl-nav{
        top: 40%;
    }    
}

@media(min-width:992px){
    .owl-carousel.home-slider .slider-item .slider-text, .owl-carousel.home-slider .slider-item{
        height: 750px;
    }

    .ftco-about .img-about .img{
        background-size: contain;
        margin-top: -109px;
    }

     #galery .owl-nav{
        top: 45%;
    }   
}