<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
		content="A iWof é uma empresa de tecnologia com engajamento social na geração de oportunidades remuneradas.">
	<meta name="keywords"
		content="app, aplicativo, andoid, ios, tecnlogoia, emprego, dinheiro, remuneração, grana, renda extra, oportunidades, vagas, trablho">
	<meta property=”og:image” content=”https://www.iwof.com.br/images/favicon-310.png">
	<link rel="shortcut icon" href="images/favicon1.png" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom.css">
	<title>iWof - Trabalhe onde quiser, como quiser</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	<script>
		function fechar() {
			document.getElementById('popup').style.display = 'none';
		}
	</script>
	<div id="popup"
		style="background: rgba(0,0,0,0.75);display: block;width: 100%;height: 100%;position: fixed;z-index: 9999999;top: 0;">
		<div id="popup"
			style="margin-left: auto; z-index: 999999; margin-right: auto; position: fixed; width: 100%; top: 40px"
			align="center">
			<div style="position: fixed; width: 75%; left: 50%; margin-left: -37.5%;">
				<div style="max-width: 500px; position: relative;">
					<a href="javascript: fechar();" style="color: rgb(255, 255, 255); font-size: 25px; text-decoration: none; position: absolute; right: -9px; top: -9px; border-radius: 100%;
						background: #ddd;
						padding: 9px;
						height: 27px;
						width: 27px;">
						<!-- <img src="{{ asset('images/fechar.png') }}" border="0">  -->
						<span style="margin-top: -10px;position: absolute; margin-left: -3px;font-size: 15px;">x</span>
					</a>
					<a href="https://www.iwof.com.br/iwof-paraiba.html">
						<img style="max-width: 100%;" src="images/popup.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="images/logo1.png" id="logo">
			</a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">
					<li class="nav-item"><a href="#home-section"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>Home</span></a></li>
					<li class="nav-item"><a href="#parceiros-section"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>Parceiros</span></a></li>
					<li class="nav-item"><a href="#oque-section" class="nav-link js-fh5co-nav-toggle-mobile"><span>O que
								é</span></a></li>
					<li class="nav-item"><a href="#como-section" class="nav-link js-fh5co-nav-toggle-mobile"><span>Como
								funciona</span></a></li>
					<li class="nav-item"><a href="#depoimentos-section"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>Quem somos</span></a></li>
					<li class="nav-item"><a href="#download-section"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>Download</span></a></li>
					<li class="nav-item"><a href="#contato-section"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>Contatos</span></a></li>
					<li class="nav-item"><a href="https://iwof.zendesk.com/hc/pt-br" target="_blank"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>FAQ</span></a></li>

					<li class="nav-item"><a href="http://www.iwof.com.br/iwof-paraiba.html" target="_blank"
							class="nav-link js-fh5co-nav-toggle-mobile"><span>iWof Paraíba</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item ">
				<div class="overlay"></div>
				<div class="container">
					<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
						data-scrollax-parent="false">
						<div class="one-third js-fullheight order-md-last img"
							style="background-image:url(images/01.png);background-position: center top;">
							<div class="overlay"></div>
						</div>
						<div class="one-forth d-flex  align-items-center ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<h1 class="mb-4 mt-3"><span>Trabalhe</span> onde quiser, como quiser.</h1>
								<h2 class="mb-4">Baixe agora a plataforma</h2>
								<p><a href="https://play.google.com/store/apps/details?id=br.com.iwof" target="_blank"
										class="btn btn-primary py-3 px-4"><span class="icon-android"></span> Play
										Store</a> <a href="https://apps.apple.com/br/app/iwof/id1515196582"
										class="btn btn-transp btn-outline-transp py-3 px-4"><span
											class="icon-apple"></span> App Store</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

	</section>

	<section class="ftco-section py-5" id="parceiros-section">
		<div class="container py-lg-5">
			<div class="row justify-content-center mb-lg-5 pb-lg-5">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<h1 class="big big-2">Confira</h1>
					<h2 class="mb-4">Parceiros</h2>
				</div>
			</div>
			<div class="noticy owl-carousel owl-theme pb-3 pb-lg-0"">
				<div class=" item d-flex justify-content-center">
				<div class="card" style="width: 90%">
					<img class="card-img-top" src="images/parceiro1.jpg" alt="Card image cap">
				</div>
			</div>
			<div class="item d-flex justify-content-center">
				<div class="card" style="width: 90%">
					<img class="card-img-top" src="images/parceiro2.jpg" alt="Card image cap">
				</div>
			</div>
			<div class="item d-flex justify-content-center">
				<div class="card parceiro" style="width: 90%">
					<a target="_blank" href="https://www.rn.senac.br/">
						<img class="card-img-top" src="images/parceiro3.jpg" alt="Card image cap">
					</a>
				</div>
			</div>
		</div>
		</div>
	</section>

	<hr />

	<section class="ftco-about img ftco-section ftco-no-pb py-5" id="oque-section">
		<div class="container py-lg-5">
			<div class="row d-flex">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center"
							style="background-image:url(images/andrea.jpeg);">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h1 class="big">O que é</h1>
							<h2 class="mb-4">Uma fonte de renda que se adapta a você</h2>
							<p>A iWof é uma plataforma de intermediação inteligente de mão-de-obra. Nós unimos nossos
								usuários cadastrados e as empresas parceiras, gerando horas de trabalho inteligentes, e
								os usuários recebem pelas horas trabalhadas, sem vínculo empregatício, fazendo seus
								próprios horários. Somos a “uberização” do trabalho: renda maior que a média para os
								usuários e até 51% em redução de custos para a empresa parceira. Aqui IWOF (I Work
								Free)!</p>
							<!-- <p>Atualmente, as fontes de renda mais comuns ainda são aquelas que nos deixam presos a um horário, a um local e até mesmo a uma cidade, pois continuamos associando a ideia de
						trabalho ao emprego em uma empresa específica.</p>
		            <p>A iWof chega para te ajudar a mudar essa mentalidade, tão antiga e ultrapassada. Aqui,
					você é a sua própria empresa, você escolhe o seu horário de trabalho, a sua função e até a
					cidade onde quer atuar. Muito irado, não concorda?! 
			        </p>
			        <p> Acreditamos em um mundo com pessoas mais felizes e queremos contribuir para que este
						mundo seja possível para você. Na iWof você será remunerado fazendo o que gosta, na
						hora e dia que achar mais conveniente, podendo utilizar o seu tempo livre para, por
						exemplo, ficar mais próximo de quem você ama.
		            </p> -->
							<!-- <p>A iWof é uma plataforma de intermediação inteligente de mão-de-obra. Nós unimos nossos usuários cadastrados 
						e as empresas parceiras, gerando horas de trabalho inteligentes, e os usuários recebem pelas horas trabalhadas, 
						sem vínculo empregatício, fazendo seus próprios horários. Somos a “uberização” do trabalho: renda maior que a 
						média para os usuários e até 51% em redução de custos para a empresa parceira. Aqui IWOF (I Work Free)!</p>
		            <p>Somos um time empenhado em cumprir a nossa missão: transformar a vida das pessoas através do melhor 
						programa social do mundo, que se chama trabalho. Estamos unidos nesse propósito e damos o nosso suor, 
						tempo, trabalho e toda criatividade para fazer da iWof a maior plataforma de intermediação inteligente de 
						mão-de-obra do Brasil.
			        </p> -->
							<!--
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Name:</span> <span>Clark Thompson</span></li>
		            	<li class="d-flex"><span>Date of birth:</span> <span>January 01, 1987</span></li>
		            	<li class="d-flex"><span>Address:</span> <span>San Francisco CA 97987 USA</span></li>
		            	<li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>clarkthomp@gmail.com</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span>+1-2234-5678-9-0</span></li>
		            </ul>
		        	-->
						</div>
					</div>
					<!--<div class="counter-wrap ftco-animate d-flex mt-md-3">
	          
              <div class="text">
              	<p class="mb-4">
	                <span class="number" data-number="56000">10000</span>
	                <span>downloads</span>
                </p>
              	<p class="mb-4">
	                <span class="number" data-number="1200000">100000</span>
	                <span>oportunidades criadas</span>
                </p>
                <p><a href="#" class="btn btn-primary py-3 px-3">Baixe agora</a></p>
              </div>
          	  
	          </div>-->
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="ftco-section ftco-no-pb py-5" id="resume-section">
		<div class="container py-lg-5">
			<div class="row justify-content-center pb-3 pb-lg-5">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<h1 class="big big-2">Iwof na mídia</h1>
					<h2 class="mb-4">Iwof na mídia</h2>
					<p>
						Nossa missão na mídia sendo reconhecida!
						<br>
						Nosso objetivo de transformar a vida das pessoas através do trabalho já está ganhando espaço na
						sociedade.
					</p>
				</div>
			</div>
			<div class="noticy owl-carousel owl-theme pb-3 pb-lg-0">
				<div class="item">
					<div class="d-flex justify-content-center align-items-center">
						<div class="resume-wrap ftco-animate" style="padding: 0">
							<a href="https://nominuto.com/noticias/economia/startup-oferece-oportunidades-para-enfrentamento-a-desemprego-recorde/208435/"
								target="_blank" rel="noopener noreferrer" style="color: #999999">
								<img src="images/nominuto.png" class="img-fluid" alt="" />
								<!-- <h2 style="font-size: 16px;padding-top: 10px;">Startup oferece oportunidades para enfrentamento a desemprego recorde</h2>
								<span class="position">21 de outubro de 2020</span>
								<p class="mt-4">
									Segundo Kedson Silva, inteligência artificial da plataforma traça os perfis dos interessados nas vagas, bem como oferece capacitação. .</p> -->
							</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="d-flex justify-content-center align-items-center">
						<div class="resume-wrap ftco-animate" style="padding: 0">
							<a href="https://portalnegocios.com.br/blog/startup-oferece-oportunidades-para-enfrentamento-desemprego-recorde"
								target="_blank" rel="noopener noreferrer" style="color: #999999">
								<img src="images/negociosnet.png" class="img-fluid" alt="" />
								<!-- <h2 style="font-size: 16px;padding-top: 10px;">Startup oferece oportunidades para enfrentamento a desemprego recorde</h2>
								<span class="position">21 de outubro de 2020</span>
								<p class="mt-4">
									Segundo Kedson Silva, inteligência artificial da plataforma traça os perfis dos interessados nas vagas, bem como oferece capacitação. .</p> -->
							</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="d-flex justify-content-center align-items-center">
						<div class="resume-wrap ftco-animate" style="padding: 0">
							<a href="https://agorarn.com.br/ultimas/startup-oferece-oportunidades-para-enfrentamento-a-desemprego-recorde/"
								target="_blank" rel="noopener noreferrer" style="color: #999999">
								<img src="images/agora.png" class="img-fluid" alt="" />
								<!-- <h2 style="font-size: 16px;padding-top: 10px;">Startup oferece oportunidades para enfrentamento a desemprego recorde</h2>
								<span class="position">21 de outubro de 2020</span>
								<p class="mt-4">
									Segundo Kedson Silva, inteligência artificial da plataforma traça os perfis dos interessados nas vagas, bem como oferece capacitação. .</p> -->
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row justify-content-center mt-5">
    			<div class="col-md-6 text-center ftco-animate">
    				<p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
    			</div>
    		</div> -->
		</div>
	</section>
	<hr>
	<section id="como-section">
		<div class="container">
			<div class="row justify-content-center py-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Como funciona</h1>
					<h2 class="mb-4">É tudo muito rápido e prático</h2>
					<p>Veja como é simples participar da plataforma</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1">
						<span class="icon">
							<i class="flaticon-baixar"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5"><span>1</span> Baixe o APP e faça seu cadastro</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1">
						<span class="icon">
							<i class="flaticon-cadastro"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5"><span>2</span> Aceite oportunidades e realize trabalhos</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1">
						<span class="icon">
							<i class="flaticon-aceite"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5"><span>3</span> Receba pagamentos por atividades realizadas</h3>
						</div>
					</a>
				</div>
				<!--
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">
								<i class="flaticon-realize"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><span>4</span> Realize o trabalho</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">
								<i class="flaticon-receba"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><span>5</span> Receba o pagamento</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="#" class="services-1">
							<span class="icon">
								<i class="flaticon-avalie"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><span>6</span> Avalie e seja avaliado</h3>
							</div>
						</a>
					</div>
					-->
			</div>
		</div>
	</section>
	<!--
		
		<section class="ftco-section" id="skills-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Skills</h1>
            <h2 class="mb-4">My Skills</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
				<div class="row">
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>Photoshop</h3>
							<div class="progress">
							 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
							  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
							    <span>90%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>jQuery</h3>
							<div class="progress">
							 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
							  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
							    <span>85%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>HTML5</h3>
							<div class="progress">
							 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
							  	aria-valuemin="0" aria-valuemax="100" style="width:95%">
							    <span>95%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>CSS3</h3>
							<div class="progress">
							 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
							  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
							    <span>90%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>WordPress</h3>
							<div class="progress">
							 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
							  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
							    <span>70%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>SEO</h3>
							<div class="progress">
							 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
							  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
							    <span>80%</span>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
 

    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Our Projects</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-4.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Design</span>
	    				</div>
    				</div>
  				</div>
  				<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-5.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Design</span>
	    				</div>
    				</div>
  				</div>

    			<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-1.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Design</span>
	    				</div>
    				</div>

    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-6.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Design</span>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="row">
    					<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-2.jpg);">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
			    					<span>Web Design</span>
			    				</div>
		    				</div>
	    				</div>
	    				<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-3.jpg);">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="#">Branding &amp; Illustration Design</a></h3>
			    					<span>Web Design</span>
			    				</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
	-->

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
		<div class="container">
			<div class="row d-md-flex align-items-center">
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="40000">1500</strong>
							<span>Oportunidades criadas</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="185000">400</strong>
							<span>Hora de trabalhos/dia</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="19000">200</strong>
							<span>Usuários totais</span>
						</div>
					</div>
				</div>
				<!---- ><div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="71">40</strong>
							<span>Empresas cadastradas</span>
						</div>
					</div>
				</div> --->
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-hireme img margin-top"
		style="background-image: linear-gradient(#00000069, #00000069), url('images/equipe.jpg')">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 ftco-animate text-center">
					<h2>A <span>iWof</span> te traz liberdade e independência financeira</h2>
					<p>Nossa plataforma foi desenvolvida de modo a encontrar as melhores oportunidades remuneradas para
						você.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section py-5" id="depoimentos-section" style="padding-bottom: 3rem !important;">
		<div class="container py-lg-5">
			<div class="row justify-content-center pb-lg-5">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<h1 class="big big-2">Quem somos</h1>
					<h2 class="mb-4">Quem somos</h2>
					<p>Somos um time empenhado em cumprir a nossa missão: transformar a vida das pessoas através do
						melhor programa social do mundo, que se chama trabalho. Estamos unidos nesse propósito e damos o
						nosso suor, tempo, trabalho e toda criatividade para fazer da iWof a maior plataforma de
						intermediação inteligente de mão-de-obra do Brasil.</p>
				</div>
				<div class="owl-carousel owl-theme pb-3 pb-lg-0" id="galery">
					<div class="item d-flex justify-content-center">
						<img src="images/time.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/1.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/2.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/3.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/4.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/5.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/6.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/7.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/8.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/9.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/10.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/11.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/12.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/13.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/14.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/16.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/18.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/19.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/20.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/21.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/22.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/23.png" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/24.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/25.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
					<div class="item d-flex justify-content-center">
						<img src="images/galeria/26.jpg" class="img-fluid" alt="Iwof" style="width:95%; height: 100%;">
					</div>
				</div>
			</div>
			<!-- <div class="row d-flex">
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div href="single.html" class="block-20" style="background-image: url('images/ft01.jpg');">
              </div>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2 primeiro">Cleanaketle Silva - Operador de loja</span>
	                </p>
                </div>
                <h3 class="heading">Oportunidade que precisava</h3>
                <p>Estava desempregada e o aplicativo foi a oportunidade que eu estava procurando para ser reinserida no mercado de trabalho.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div href="single.html" class="block-20" style="background-image: url('images/ft02.jpg');">
              </div>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2 segundo">Vinicius Gama - Favorito Supermercados</span>
	                </p>
                </div>
                <h3 class="heading">Produtividade!</h3>
                <p>A forma mais dinâmica e inteligente para a abertura de novas oportunidades de trabalho, potencializando a produtividade.</p>
              </div>
            </div>
          </div> -->
			<!--
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry">
              <div href="single.html" class="block-20" style="background-image: url('images/ft03.jpg');">
              </div>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2 terceiro">Pedro Silva - Serviço Gerais</span>
	                </p>
                </div>
                <h3 class="heading">Realizei um sonho.</h3>
                <p>Graças a iWof que hoje tenho mais tempo para passar com minha familia. Pelo aplicativo, consigo programar meu horario de trabalho e minha produtividade.</p>
              </div>
            </div>
        	-->
		</div>
		</div>
		</div>
	</section>

	<section class="ftco-section contact-section ftco-no-pb py-5" id="download-section">
		<div class="container py-lg-5">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Download</h1>
					<h2 class="mb-4">Chegou a hora!</h2>
					<p>Baixe agora o aplicativo. Nossa plataforma está disponível gratuitamente nas versões para Android
						e iOS.</p>
					<p class="mt-6"><a href="https://play.google.com/store/apps/details?id=br.com.iwof" target="_blank"
							class="btn btn-primary py-3 px-4"><span class="icon-android"></span> Play Store</a> <a
							href="https://apps.apple.com/br/app/iwof/id1515196582"
							class="btn btn-white btn-outline-white py-3 px-4"><span class="icon-apple"></span>
							App Store</a></p>
				</div>
			</div>


			<!--
        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-4">Address</h3>
	            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-globe"></span>
          		</div>
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">yoursite.com</a></p>
	          </div>
          </div>
        </div>
        <div class="row no-gutters block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-light p-4 p-md-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div class="img" style="background-image: url(images/about.jpg);"></div>
          </div>
        </div>
    	-->
		</div>
	</section>

	<footer class="ftco-footer ftco-section py-5" id="contato-section">
		<div class="container py-lg-5">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Quem Somos</h2>
						<p>A iWof é uma empresa de tecnologia com engajamento social na geração de oportunidades
							remuneradas. Somos parceiros de dezenas de empresas que ofertam horas de trabalho por
							meio da nossa plataforma.</p>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Entre em Contato</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Rua Desembargador José
										Gomes da Costa, 1879. Sala 101 - Florença Empresarial,
										Natal RN. CEP: 59082140.</span></li>
								<!--<li><a href="tel:551131360321"><span class="icon icon-phone"></span><span class="text">(11) 3136-0321</span></a></li>-->
								<li><a href="mailto:contato@iwof.com.br"><span class="icon icon-envelope"></span><span
											class="text">contato@iwof.com.br</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Siga a gente.</h2>
						<p>Estamos presentes nas principais redes sociais.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
							<li class="ftco-animate"><a href="https://www.facebook.com/iwofbr"><span
										class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="https://www.instagram.com/iwof_br/"><span
										class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> - Todos os direitos reservados a
						iWof.</a>
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/scrollax.min.js"></script>

	<script src="js/main.js"></script>
	<!-- Start of iwof Zendesk Widget script -->
	<script id="ze-snippet"
		src="https://static.zdassets.com/ekr/snippet.js?key=ef1e77e1-2270-424c-8e1f-246863663ac1"></script>
	<!-- End of iwof Zendesk Widget script -->
</body>

</html>